*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy, sans-serif;
}

:root{
    --primary-color: #EFEAE3;
    --secondary-color: #FE320A;
    --tertiary-color: #FF5722;
    --dark-color: #333;
    --light-color: #f4f4f4;
}


/* Navbar */

html, body{
    height: 100%;
    width: 100%;
}

#page1{
    min-height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
    position: relative;
    padding : 0 2vw;
}

nav{
    height: 100px;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 0;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.nav-links h4{
    padding:  10px 20px;
    border: 1px solid var(--dark-color);
    border-radius: 50px;
    font-weight: 500;
    color: var(--dark-color);
    font-size: 1.02rem;
    position: relative;
    transition: all 0.5s ease;
    overflow: hidden;
}

.nav-links h4 a{
    text-decoration: none;
    color: var(--dark-color);
    position: relative;
    z-index: 10;
}

.nav-links h4:hover a{
    color: white;
}

.nav-links h4::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    bottom: -100%;
    left: 0;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.nav-links h4:hover::after{
    bottom: 0;
    border-radius: 0;

}

/* Center */
.center {
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2vw 2vw;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2vw;
}

.left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

.right h1{
    text-align: right;
    width: 30vw;
    font-size: 8vw;
    line-height: 8vw;
}

#page1 video{
    width: 100%;
   border-radius: 30px;
   margin-top: 4vw;
   position: relative;
}

/* hero-shape */

.hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 68vh;
    
}

.hero-1{
    height: 100%;
    width: 100%;
    background-color: #FE320A;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%; 
    filter: blur(50px);
    position: absolute;
}

.hero-2{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#FE320A, #fe330aed);
    border-radius: 50%; 
    filter: blur(25px);
    position: absolute;
    animation: animateHero-2 5s infinite alternate linear;
}

.hero-3{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#FE320A, #fe330aed);
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation: animateHero-1 3s infinite alternate linear;
}

@keyframes animateHero-1{
 from{
     transform: translate(50%, -10%);
 }
 to {
     transform: translate(0%,10%);
 }
}

@keyframes animateHero-2{
    from{
        transform: translate(5%, -5%);
    }
    to {
        transform: translate(-20%,20%);
    }
   }

/* Page 2 */
#page2{
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary-color);
    padding: 8vw 0 8vw 0;
}
.moving-text{
    white-space: nowrap;
    overflow-x: auto;  
    scrollbar-width: none; 
}
.moving-text::-webkit-scrollbar{
    display: none;
}

.container{
    display: inline-block;
  white-space: nowrap;
  animation: slide 10s infinite linear;
}

.moving-text h1{
    font-size: 8vw;
    display: inline-block;
}


.dot{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    align-items: center;
    display: inline-block;
    margin: 1vw 2vw;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.page2-bottom{
    width: 100%;
    display: flex;
    background-color: var(--primary-color);
    position: relative;
    padding: 0 3vw;
}

.one{
    width: 70vw;
    height: 50vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.one h2{
    font-size: 4vw;
    margin-top: 8vw ;
    margin-left: 4vw;
    padding:3vw;
    z-index: 10;
}

.foot-text{
    display: flex;
    gap: 2vw;  
    
}

.dot-small{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--secondary-color);
}

.two{
    width: 30vw;
    height: 50vw;
    justify-content: end;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.two-content{
    padding: 3vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
}

.two-content img{
    width: 20vw;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 7vw;
}

.two-content p{
    font-size: 1rem;
    margin-top: 2vw;
    width: 20vw;
}


.shape{
    position: absolute;
    width: 35vw;
    height: 35vw;  
    top: 25vh;
    margin-left: 30vw;
    margin-top: 10vw;
    margin-bottom: 10vw;
}

.shape1{
    width: 100%;
    height: 100%;
    background-color: #FF5722;
    border-radius: 50%;
    filter: blur(50px);
    position: absolute;
}

.shape2{
    width : 80%;
    height: 80%;
    background-color: #FE320A;
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation: animateShape-2 3s infinite alternate linear;
}

@keyframes animateShape-2{
    from{
        transform: translate(10%, -5%);
    }
    to {
        transform: translate(-5%,10%);
    }
    
}
